/**
 * Colors:
 * BG:              #FFFFFF
 * Primary:         #4A148C
 * Analogous Left:  #141A8C
 * Complement:      #148C4A // actually Triadic Right
 */

:root {
    /* Colors */
    --color-bg: var(--color-light-bg);
    --color-text: var(--color-light-text);

    --color-primary: #4a148c;
    --color-primary-transparent: rgba(74, 20, 140, 0.5);
    --color-primary-shadow: rgba(74, 20, 140, 0.25);

    --color-analogous: #141a8c;

    --color-complement: #148c4a;

    --color-danger: #d30930;

    --color-shadow: rgba(55, 58, 75, 0.08);

    /* Holder Color Vars */
    --color-night-bg: rgba(22, 22, 22, 1);
    --color-light-bg: rgba(232, 232, 232, 1);
    --color-night-text: rgba(255, 255, 255, 0.91);
    --color-light-text: rgba(0, 0, 0, 0.91);
    --color-night-shadow: rgba(74, 20, 140, 0.25);
    --color-light-shadow: rgba(55, 58, 75, 0.08);

    /* Text Sizing */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md: calc(
        var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
    );
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

    /* Space */
    --space-unit: 1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
}

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: var(--text-base-size);
    line-height: calc(var(--space-unit) * 1.5);
    background: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
    transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

/* Containers */
.container {
    position: relative;
    width: 66vw;
    min-height: 75vh;
    margin: 0 auto;
    box-sizing: border-box;
}
.container-full {
    position: relative;
    width: 100vw;
    min-height: 75vh;
    margin: 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 1366px) {
    .container {
        width: 96vw;
        padding: 0 2vw;
    }
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: -0.1rem;
    margin-bottom: var(--space-xs);
}
h1 {
    font-size: var(--text-xxxxl);
    line-height: 1.125;
}
h2 {
    font-size: var(--text-xxxl);
    line-height: 1.13;
}
h3 {
    font-size: var(--text-xxl);
    line-height: 1.135;
}
h4 {
    font-size: var(--text-xl);
    line-height: 1.14;
}
h5 {
    font-size: var(--text-lg);
    line-height: 1.15;
}
h6 {
    font-size: var(--text-md);
    line-height: 1.2;
}
p {
    font-size: var(--text-base-size);
}

/* HR */
hr {
    border-width: 0;
    border-top: var(--space-xxxxs) solid var(--color-primary);
    margin: var(--space-lg) 0;
}

/* Modal */
.ReactModal__Overlay {
    opacity: 0;
    height: 0 !important;
    top: -100% !important;
    transition: all 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    height: 100% !important;
    top: 0 !important;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    height: 0 !important;
    top: -100% !important;
}

@media only screen and (max-width: 768px) {
    .ReactModal__Overlay {
        opacity: 1;
        height: 0 !important;
        top: 100% !important;
        transition: all 250ms ease-in-out;
    }

    .ReactModal__Overlay--after-open {
        opacity: 1;
        height: 100% !important;
        top: 0 !important;
    }

    .ReactModal__Overlay--before-close {
        opacity: 1;
        height: 0 !important;
        top: 100% !important;
    }
}

/* Scrollbar */
/* width */
/* ::-webkit-scrollbar {
    width: 7px;
    border-radius: 1rem;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    border-radius: 1rem;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: var(--color-primary-transparent);
    border-radius: 1rem;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
    border-radius: 1rem;
} */
